language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "4"
  - "5"
after_script: istanbul cover ./node_modules/mocha/bin/_mocha --report lcovonly -- -R spec --compilers js:babel-register && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
